$bacgroundComponent: #fff;
$colorSectionWrite : #fff;
$colorSections : #eee;
$colorBtnIdeas: #263238;
$colorBrowser: #fafafa;
$colorText: #5A5858;
$fontFamilyRegular: "Aristotelica Display Regular";
$colorTitle: #E7B843;
$colorButtons: #E7B843;
$radiusButtons: 50px;

h1,h2,h3,h4,h5,h6,span,p,a,li,label,small,input,button,textarea{
    font-family: $fontFamilyRegular;
}
//Formulario donde se escriben las ideas
.sectionIdeasDebate{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorSectionWrite;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasDebate .containerIdeas{
    width: 100%;
    height: auto;
    padding: 0;
    padding-left: 28px;
    padding-right: 28px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
    margin: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard{
    width: 100%;
    padding: 0;
}

.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend{
    flex-wrap: nowrap;
    //margin-bottom: 0;
    border-radius: 3px;
    height: 32px;
    width: 90%;
    margin-bottom: 0 !important;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 50px;
    padding: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .spaceWriteIdea{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    padding: .7rem .5rem .5rem 1rem;
    border: none;
    background-color: $colorBrowser;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text{
    padding: 0 14px 0px 0px;
    background-color: $colorBrowser;
    border: none;
    border-radius: 0px 50px 50px 0px;
    
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: $colorBrowser;
    align-items: center;
    padding: .5rem;
}

.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea img{
    width: 16px;
    height: 16px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard{
    display: flex;
    justify-content: flex-end;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .titleNotification{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
    display: block;
    width: auto;
    height: 15px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .imgAlertNotification{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .titleMenu{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav{
    position: absolute;
    width: 178.91px;
    height: calc(190px);
    right: 7px;
    top: 40px;
    z-index: 1005;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before,.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent #fff;
    right: 7px;
    z-index: 1000;
    top: -8px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.12);
    right: 7px;
    z-index: 1000;
    top: -10px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item{
    padding: 0.1rem 1.25rem;
    border: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item a{
    color: #6E707B;
    font-size: .9rem;
}

// Ideas debate
.sectionDebateIdeas{
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 50px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .titleDebate{
    padding-top: 26px;
    padding-bottom: 28px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .titleDebate h3{
    color: $colorTitle;

}
.sectionDebateIdeas .containerSectionDebateIdeas .titleDebate hr{
    height: 1px;
    background-color: $colorTitle;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-title{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-title .name{
    margin-left: 20px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body{
    padding: 20px 0px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:first-child{
    padding-bottom: 27px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:last-child{
    padding-top: 45px;
}
