$bacgroundComponent: #fff;
$colorSectionWrite : #fff;
$colorSections : #eee;
$colorBtnIdeas: #263238;
$colorBrowser: #fafafa;
$colorText: #5A5858;
$fontFamilyRegular: "Aristotelica Display Regular";
$colorTitle: #E7B843;
$colorButtons: #E7B843;
$radiusButtons: 50px;
// Grid
$grid-breakpoints: (
  // Extra small screen / phone
  "xs": 0,
  // Small screen / phone
  "sm": 576px,
  // Medium screen / tablet
  "md": 768px,
  // Large screen / desktop
  "lg": 992px,
  // Extra large screen / wide desktop
  "xl": 1200px
);

// Mixins
@mixin responsive-mobile {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "sm")){
        @content;
    }
}
h1,h2,h3,h4,h5,h6,span,p,a,li,label,small,input,button,textarea{
    font-family: $fontFamilyRegular;
}
//Formulario donde se escriben las ideas
.sectionIdeasDebate{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorSectionWrite;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasDebate .containerIdeas{
    width: 100%;
    height: auto;
    padding: 0;
    padding-left: 28px;
    padding-right: 28px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
    margin: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard{
    width: 100%;
    padding: 0;
}

.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend{
    flex-wrap: nowrap;
    //margin-bottom: 0;
    border-radius: 3px;
    height: 32px;
    width: 90%;
    margin-bottom: 0 !important;
    @include responsive-mobile{
        width: 100%;
        margin-bottom: .5rem !important;
        margin-top: .5rem;
    }
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 50px;
    padding: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .spaceWriteIdea{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    padding: .7rem .5rem .5rem 1rem;
    border: none;
    background-color: $colorBrowser;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text{
    padding: 0 14px 0px 0px;
    background-color: $colorBrowser;
    border: none;
    border-radius: 0px 50px 50px 0px;
    
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: $colorBrowser;
    align-items: center;
    padding: .5rem;
}

.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea img{
    width: 16px;
    height: 16px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard{
    display: flex;
    justify-content: flex-end;
    @include responsive-mobile{
        justify-content: flex-start;
    }
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .titleNotification{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
    display: block;
    width: auto;
    height: 15px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .imgAlertNotification{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .titleMenu{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav{
    position: absolute;
    width: 178.91px;
    height: calc(190px);
    right: 7px;
    top: 40px;
    z-index: 1005;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before,.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent #fff;
    right: 7px;
    z-index: 1000;
    top: -8px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.12);
    right: 7px;
    z-index: 1000;
    top: -10px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item{
    padding: 0.1rem 1.25rem;
    border: 0;
}
.sectionIdeasDebate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item a{
    color: #6E707B;
    font-size: .9rem;
}

// Ideas debate
.sectionDebateIdeas{
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 50px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .titleDebate{
    padding-top: 26px;
    padding-bottom: 28px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .titleDebate h3{
    color: $colorTitle;

}
.sectionDebateIdeas .containerSectionDebateIdeas .titleDebate hr{
    height: 1px;
    background-color: $colorTitle;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns{
    padding-left: 1rem;
    padding-right: 1rem;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card{
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    margin-bottom: 1.2rem;
    padding: 20px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-title{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: $colorText;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-title .name{
    margin-left: 20px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body{
    padding: 10px 0px 0px 0px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item{
    padding-top: 10px;
    padding-bottom: 10px;
    color: $colorText;
    font-size: .9rem;
    border: 0;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:first-child{
    padding-bottom: 0px;
    border: 0;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:first-child span{
    font-size: 1rem;
    color: $colorText;
    font-weight: 600;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:nth-child(2){
    padding-top: 5px;
    padding-bottom: 5px;
    color: $colorText;
    font-size: .9rem;
    border: 0;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:nth-child(3){
    padding: 0;
    color: $colorText;
    list-style: none;
    font-size: .9rem;
    border: 0;
    display: none;
    .list-group{
        .list-group-item{
            padding: .9rem .5rem;
            display: flex;
            align-items: center;
            height: auto;
            .commentsParagraph{
                width: 90%;
            }
            .imgComments{
                width: 10%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:nth-child(3) span{
    font-weight: 600;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-body .list-group .list-group-item:nth-child(3) p{
    margin-bottom: 0;
}

.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-footer{
    padding-bottom: 11px;
    padding-top: 9px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}
.sectionDebateIdeas .containerSectionDebateIdeas .card-columns .card .card-footer .btnMoreDebate{
    background-color: $colorButtons;
    color: $colorSectionWrite;
    border-radius: $radiusButtons;
    width: 50%;
}

.visible{
    display: block ;
    animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}
@keyframes slide-down {
    0% { opacity: 0; transform: translateY(-100%); }   
  100% { opacity: 1; transform: translateY(0); }
}
@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}
.hidden{
    display: none;
    transition: 500ms linear;
}