<div class="container containerChatIdeas">
	<div class="row">
	  
	  <div class="col-12 titleChatIdeas">
			  <h6 class="text-uppercase text-center py-2">Chat de ideas </h6>
			  <button class="btnNewIdea" (click)="newIdea()" >
				  <i class="fas fa-plus-circle"></i>
				  <span>Nueva Idea</span>
			  </button>
	  </div>
	  <div class="col-12 containerChat">
		<div class="containerMessageIdeas">
		   <div class="contenedor" *ngIf="ideas">
			 <ng-container *ngFor="let idea of ideas; index as i">
					<div class="containerIdeaCredentials" id="{{idea.Id}}" >
						<div class="imgUserInChat">
							<figure>
								
								<img src="{{getImgUser(idea.IdUsers)}}" alt="" > 
								
							</figure>
						</div>
						<div class="containerNameVotes">
							<h3 class="nameUserIdea"> {{idea.Nick_name}}
								<ul class="containerBtnsLikesDslike">
									<li class="listIconsMessage">
										<div class="btnLikeMyHeark" >
											<ul class="contentBtnMyHeart" >
												<li>
													<img [src]="'assets/img/icons/chat/myHeart.svg'" alt="" data-toggle="tooltip" data-placement="top" title="Votos"    class="imgHeart" (click)="popLikes(i)" >
													<span> {{idea.Total}} </span>
												</li>
											</ul>
											<div class="votos" id="v-{{idea.Id}}">
												<ul class="containerVotos"> <!-- [ngClass]="popovers ? 'visible' : 'hidden'" -->
													<li class="upButton">
														<img [src]="'assets/img/icons/chat/hapy.svg'" data-toggle="tooltip" data-placement="top" title="Me gusta" alt="" (click)="addVotesPos(idea.Id, i)">
														<span>{{idea.Likes}}</span>
													</li>
													<li class="upButton">
														<img [src]="'assets/img/icons/chat/sad.svg'" data-toggle="tooltip" data-placement="top" title="No me gusta" alt="" (click)="addVotesNeg(idea.Id, i)">
														<span> {{idea.Dislikes}} </span> 
													</li>
													<li class="upButton">
														<img [src]="'assets/img/icons/chat/mee.svg'" data-toggle="tooltip" data-placement="top" title="Neutro" alt="" (click)="addVotesNeu(idea.Id, i)">
														<span> {{idea.Neutral}} </span>
													</li>
												</ul>
												<ng-container class="responseToast">
														<div aria-live="polite" aria-atomic="true" style="position: absolute; min-height: 200px; z-index: 1001;" class="containerToast" id="cToast-{{idea.Id}}">
																<div class="toast" style="" id="toast-{{idea.Id}}">
																	<div class="toast-header">
																		<div class="imgToast">
																				<img src="../../../../assets/img/icons/dashboard/idea.svg" class="rounded mr-2" alt="...">
																		</div>
																		<strong class="mr-auto">Novaideas</strong>
																		<!-- <small>11 mins ago</small> -->
																		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
																		<span aria-hidden="true" (click)="hideToast(i) ">&times;</span>
																		</button>
																	</div>
																	<div class="toast-body">
																		<p>
																			Ya has votado por esta idea!!<br> 
																			Que quieres hacer con tu voto?
																		</p>
																	</div>
																	<div class="toast-footer">
																		<button class="btn btnEdit" data-toggle="tooltip" title="Actualizar voto"><i class="fas fa-pen"></i></button>
																		<button class="btn btnDelete"><i class="fas fa-trash" data-toggle="tooltip" title="Eliminar Voto"></i></button>
																	</div>
																</div>
															  </div>
												</ng-container>
											</div>
										</div>
									</li>
								</ul>
							</h3>
						</div>
						<p class="ideaMessageChatUsers" id="i-{{idea.Id}}">
							<a [routerLink]="['/idea', idea.Id]" class="paragraphIdea"> {{idea.IdeaText}} </a>
						</p>
						<div class="containerDisplayReply" id="p-{{idea.Id}}">
							<h4 class="replyTitle" > <span class="titleComment" (click)="collapseIdea(i)"> Comentarios</span>
							<button class="btn btnAddNewReply" (click)="addComments(i)">
								<span>Nuevo Comentario</span> 
								<i class="fas fa-comment-alt" data-toggle="tooltip" data-placement="left" title="Nuevo comentario"></i>
							</button>
							</h4>
							<div class="replyMessage" id="r-{{idea.Id}}">
									<div class="row rowReply">
										<div class="col-12 col-sm-12 my-1"> 
											<label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
											<div class="input-group input-group-reply-message">
												<form [formGroup]="fcomentarios" (ngSubmit)="onSubmiComment(fcomentarios.value, i)"  class="formReply">
													<textarea type="text" class="form-control input-reply-idea textareaFormulario" id="text-{{idea.Id}}" placeholder="Responde esta idea" name="reply_ideas" formControlName="comment" required></textarea>
																
													<div class="input-group-prepend">
														<div class="input-group-text group-btn-reply-message">
																<button type="reset" class="btn btnCancelComment" (click)="addComments(i)">
																	<span>Cancelar</span>
																	<i class="fas fa-times"></i>
																</button>
															<button type="submit" class="btn btn-reply-message" id="c-{{idea.Id}}">
																<span>Publicar</span>
																<i class="fas fa-paper-plane"></i>
															</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							<ul class="elementReply list-group list-group-flush">
								<li class="list-group-item" *ngFor="let comment of comments; index as c" >
									<div class="credentialsComments">
										<span class="nameUserComment"> {{comment.Nick_name}} </span>
										<p class="commentBody"> {{comment.Comments}} </p>
									</div>
									<div class="imgUserCommentChat">
										<figure>
											<img class="imgComment" src="{{getImgUser(comment.Id_user)}}" alt="">
										</figure>
									</div>
									
								</li>
							</ul>
						</div>
						<button class="btn btn-block btnSeeMoreMessage" id="btn-{{idea.Id}}" (click)="getId(i); collapseIdea(i)" (load)="getId(i)">
							Ver
							<i class="fas fa-comment-alt answerMessage" id="answerMessage"></i>
							<i class="fas fa-plus iconMoreMinus" id="icon-{{idea.Id}}"></i>
						</button>
					</div>
			 </ng-container>
			 
		  </div>
	  </div>
	  </div>
	 	<div class="col-12 formNewIdea" *ngIf="generateIdea">
		  	<form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value);">
			  	<div class="input-group mb-3">
				  	<textarea type="text" formControlName="idea" class="form-control postNIdea" placeholder="Tu idea aquí" aria-label="Recipient's username" aria-describedby="basic-addon2" id="postNIdea"></textarea>
				  	<div class="input-group-append">
						<button type="button" class="btn btnIdeaChat btnCancelIdea" (click)="newIdea()">
							<span class="input-group-text" id="basic-addon2">Cancelar</span>
							<i class="fas fa-times"></i>
						</button>
						<button type="submit" class="btn btnIdeaChat btnSendIdea" >
							<span class="input-group-text" id="basic-addon2">Publicar</span>
							<i class="fas fa-paper-plane"></i>
						</button>
				  	</div>
			  	</div>
		  	</form>
	  	</div>
		<div class="col-12 seeAllIdeasChat">
			<div class="containerIconTopMessages">
				<i class="fas fa-chevron-down"></i>
			</div>
			<div class="linkSeeMoreIdeas">
				<a [routerLink]="['/todas']">Ver todas</a>
			</div>
		</div>
	</div>
	 
</div>
  