<div class="container containerChatIdeas">
  <div class="row">
    
    <div class="col-12 titleChatIdeas">
			<h6 class="text-uppercase text-center py-2">Chat de ideas </h6>
			<button class="btnNewIdea" (click)="newIdea()">
				<i class="fas fa-plus-circle"></i>
				<span>Nueva Idea</span>
			</button>
    </div>
    <div class="col-12 containerChat">
      <div class="containerMessageIdeas">
         <div class="contenedor" *ngIf="ideas">
           <ng-container *ngFor="let idea of ideas; index as i">
				<div class="containerIdeaCredentials" id="{{idea.Id}}" >
						<div class="imgUserInChat">
						  <img src="{{idea.Blob_data}}" alt="">
						</div>
						<div class="containerNameVotes">
						  <h3 class="nameUserIdea"> {{idea.Nick_name}}
							<ul class="containerBtnsLikesDslike">
							  <li class="listIconsMessage">
								<div class="btnLikeMyHeark" >
								  <ul class="contentBtnMyHeart" >
									<li>
										<img [src]="'assets/img/icons/chat/myHeart.svg'" alt="" data-toggle="tooltip" data-placement="top" title="Votos"    class="imgHeart" (click)="popLikes(i)" >
										<span> {{idea.Total}} </span>
									</li>
								  </ul>
								  <ul class="votos" id="idea.Id"> <!-- [ngClass]="popovers ? 'visible' : 'hidden'" -->
									<li class="upButton">
									  <img [src]="'assets/img/icons/chat/hapy.svg'" data-toggle="tooltip" data-placement="top" title="Me gusta" alt="">
									  <span>{{idea.Likes}}</span>
									</li>
									<li class="upButton">
									  <img [src]="'assets/img/icons/chat/sad.svg'" data-toggle="tooltip" data-placement="top" title="No me gusta" alt="">
									  <span> {{idea.Dislikes}} </span>
									</li>
									<li class="upButton">
									  <img [src]="'assets/img/icons/chat/mee.svg'" data-toggle="tooltip" data-placement="top" title="Neutro" alt="">
									  <span> {{idea.Neutral}} </span>
									</li>
								  </ul>
								</div>
							  </li>
							</ul>
						  </h3>
						</div>
						<p class="ideaMessageChatUsers" id="i-{{idea.Id}}">
						  <a [routerLink]="['/idea', i]" class="paragraphIdea"> {{idea.IdeaText}} </a>
						</p>
						<div class="containerDisplayReply" id="p-{{idea.Id}}">
						  <h4 class="replyTitle">Comentarios
							<span class="btnAddNewReply" (click)="addComments(i)"> 
								<i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="left" title="Agregar respuesta"></i>
							</span>
						  </h4>
						  <ul class="elementReply list-group list-group-flush">
							<li class="list-group-item" *ngFor="let comment of comments; index as c" >
								<p class="commentBody"> {{comment.Comments}} </p>
								<img class="imgComment" src="{{comment.Blob_data}}" alt="">
							</li>
						  </ul>
						</div>
						<button class="btn btn-block btnSeeMoreMessage" id="btnSeeMoreMessage" (click)="getId(i); collapseIdea(i)" (load)="getId(i)"> <!-- (click)="getId(i)" -->
						  Ver
						  <i class="fas fa-comment-alt answerMessage" id="answerMessage"></i>
						  <i class="fas fa-plus iconMoreMinus"></i>
						</button>
					  </div>
					  <div class="replyMessage" id="replyMessage" *ngIf="replyButton">
							<div class="row rowReply">
								<div class="col-12 col-sm-12 my-1">
									<label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
									<div class="input-group input-group-reply-message">
										<form  class="formReply">
											<textarea type="text" class="form-control input-reply-idea" id=" input-reply-idea" placeholder="Responde esta idea" name="reply_ideas" ></textarea><!-- [(ngModel)]="commentAdd.idea" -->
											
											<div class="input-group-prepend">
												<div class="input-group-text group-btn-reply-message">
													<button type="button" class="btn btn-reply-message" id="btn-reply-message" (click)="replyIdea(i)">
														<i class="fas fa-paper-plane"></i>
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
           </ng-container>
        </div>
      </div>
		</div>
		<div class="col-12 formNewIdea" *ngIf="generateIdea">
				<div class="input-group mb-3">
					<textarea type="text" class="form-control" placeholder="Tu idea aquí" aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
					<div class="input-group-append">
						<button class="btn btnIdeaChat btnCancelIdea" (click)="newIdea()">
							<span class="input-group-text" id="basic-addon2">Cancelar</span>
							<i class="fas fa-times"></i>
						</button>
						<button class="btn btnIdeaChat btnSendIdea" (click)="newIdea()">
							<span class="input-group-text" id="basic-addon2">Publicar</span>
							<i class="fas fa-paper-plane"></i>
						</button>
					</div>
				</div>
		</div>
		<div class="col-12 seeAllIdeasChat">
			<div class="containerIconTopMessages">
				<i class="fas fa-chevron-down"></i>
			</div>
			<div class="linkSeeMoreIdeas">
				<a [routerLink]="['/todas']">Ver todas</a>
			</div>
		</div>
  	</div> 
</div>
