// Variables
$backgroundDates: #E7B843;
$colorTitle: #E7B843;
$backgroundNavBar: #fff;
$colorText: #5A5858;
$buttonsRadius: 50px;
$colorButtons: #E7B843;

//Grid
$extraSmallLimit : 450px;
$grid-breakpoints: (
  // Extra small screen / phone
  "xs": 0,
  // Small screen / phone
  "sm": 576px,
  // Medium screen / tablet
  "md": 768px,
  // Large screen / desktop
  "lg": 992px,
  // Extra large screen / wide desktop
  "xl": 1200px
);

// Mixins
@mixin responsive-mobile {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "sm")){
        @content;
    }
}
// Responsive Phone horizontal
@mixin responsive-mobile-xs{
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: $extraSmallLimit){
        @content;
    }
}


.sectionPerfilAdmon{
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 4rem;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .containerTitleAdmon{
    padding-top: 26px;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .containerTitleAdmon h3{
    color: $colorTitle;
    font-size: 1.5rem;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .col-12 hr{
    height: 1px;
    background-color: $colorTitle;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .containerCardsPerfilAdmon{
    margin-top: .8rem;
    .card-body{
        .list-group-flush{
            width: 100%;
            .list-group-item{
                padding: 0.17rem 1.25rem;
            }
        }
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .containerCardsPerfilAdmon .containerCardMisIdeasPostuladas{
    padding-right: 0;
    @include responsive-mobile{
        padding-right: 15px;
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .containerCardsPerfilAdmon .containerCardsAmininAll{
    padding-left: 0;
    @include responsive-mobile{
        padding-left: 15px;
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .containerCardsPerfilAdmon .cardAll{
    padding-left: 0;
    @include responsive-mobile{
        padding-left: 15px;
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    background-color: $backgroundNavBar;
    margin-bottom: 1rem;
    height: 235px;
    &.cardPqr{
        height: 105px;
        .card-title{
            padding: .33rem 1.25rem;
            border-bottom: 1px solid rgba(0,0,0,0.125);
            margin-bottom: 0 !important;
            h4{
                margin-bottom: 0;
                font-size: .9rem;
                font-weight: 600;
                color: $colorText;
                letter-spacing: 1.18px;
                line-height: 19px;
            }
        }
        .car-body{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            button{
                background-color: $colorButtons;
                border-radius: 50px;
                color: $backgroundNavBar;
                height: 34px;
            }
        }
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 1rem;
    form{
        width: 100%;
        .card-footer{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .cardheader{
    position: relative;
    /* margin-top: 31px; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: rgba(0,0,0,0.125);
    display: flex;
    align-items: center;
    overflow: hidden;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .cardheader img{
    width: 100%;
    height: auto;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .cardheader .btnImgPerfilUser{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  
    display: none;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .cardheader:hover .btnImgPerfilUser{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .cardheader .btnImgPerfilUser .imgEditPerfil{
    width: 30px;
    height: auto;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .namePerfilUser{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    label{
        font-size: .7rem;
    }
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .cardPerfil .namePerfilUser span{
    font-size: 1rem;
    color: #3B3D4D;
    line-height: 17px;
    font-weight: 500;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body .form-group{
    margin-bottom: .3rem;
    width: 100%;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body .form-group label:first-child{
    font-size: 0.625rem;
    color: #666666;
    line-height: 17px;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body label{
    font-size: 0.625rem;
    line-height: 17px;
    margin-bottom: 0;
    color: #666666;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body .emailPerfilUser{
    color: #3B3D4D;
    font-size: 0.6875rem;
    line-height: 17px;
    text-transform: lowercase;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body form{
    width: 100%;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-body .form-group .form-control{
    padding: 0;
    border: 0;
    border-bottom: 1px solid #E7B843;
    border-radius: 0;
    height: 22px;
    font-size: 1rem;
    line-height: 17px;
    box-sizing: border-box;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .card-footer{
    padding-top: 29px;
    padding-bottom: 31px;
    border: 0;
    background: transparent;
}
.sectionPerfilAdmon .containerSectionPerfilAdmon .btnSavePerfilAdmon{
    background-color: $backgroundDates;
    border-radius: $buttonsRadius;
    width: 150px;
    height: 30px;
    padding: .5rem;
    color: $backgroundNavBar;
    font-size: .8125rem;
    font-weight: bold;
    line-height: 21px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon{
    height: 235px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-title{
    padding-left: 14px;
    margin-bottom: 0;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-title span{
    font-size: .9rem;
    font-weight: 600;
    color: #5A5858;
    letter-spacing: 1.18px;
    line-height: 19px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body{
    padding-top: 10px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item{
    border-top: 0;
    padding: 0.17rem 1.25rem;
    @include responsive-mobile{
        padding-left: 0;
        padding-right: 0;
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop{
    display: flex;
    align-items: center;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .imgUserTop{
    width: 5%;
    margin-right: 10px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .imgUserTop img{
    width: 30px;
    height: 30px;
    @include responsive-mobile{
        width: 20px;
        height: 20px;
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation .topParticipationNamePercentage{
    display: flex;
    align-items: center;
    position: relative;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation .topParticipationNamePercentage .contentIdeaTop{
    font-size: .9rem;
    color: #3B3D4D;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation .topParticipationNamePercentage .nameUserTop{
    // font-size: .625rem;
    line-height: 17px;
    width: 73%;
    overflow: hidden;
    height: 14px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-align: justify;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation .topParticipationNamePercentage .percentagetIdeaTop{
    font-size: .9rem;
    position: absolute;
    right: 0
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation .progress{
    height: 6px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon .card-body .list-group .list-group-item .containerUserTop .topParticipation .progress .progress-bar{
    background-color: #63C533;
}

// Cards todas las ideas mis opiniones
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon{
    background-color: #fff;
    height: 235px;
    .card-title{
        span{
            font-size: .9rem;
            font-weight: 600;
            color: #5A5858;
            letter-spacing: 1.18px;
            line-height: 19px;
        }
    }
    .card-body{
        div{
            width: 100%;
        }
    }
    .list-group-item{
        @include responsive-mobile{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardMisPostuladasAdmon{
    padding-right: 0;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-title{
    padding-left: 14px;
    margin-bottom: 0;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-body{
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-body .list-group-flush .list-group-item{
    //padding: 0rem 1.25rem;
    display: flex;
    align-items: center;
    @include responsive-mobile{
        padding-left: 0;
        padding-right: 0;
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-body .list-group-flush .list-group-item .spinnerIdea{
    font-size: 3rem;
    display: flex;
    width: 7px;
    height: 7px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: -10px;
    color: #63C533;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-body .list-group-flush .list-group-item .contenIdeaText{
    margin-left: 10px;
    font-size: .9rem;
    font-weight: 300;
    line-height: 30px;
    width: 73%;
    height: 29px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-align: justify;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-body .list-group-flush .list-group-item .contentIconIdeaText{
    display: flex;
    position: absolute;
    right: 0;
    width: auto;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-body .list-group-flush .list-group-item .contentIconIdeaText button{
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    width: 100%;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmon .card-footer .btnSeeMore{
    background-color: $backgroundDates;
    border-radius: $buttonsRadius;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    line-height: 17px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin{
    &.cardAdminIdeas{
        .card-footer{
            padding-top: 6px;
        }
    }
    .card-title{
        padding-left: 14px;
        margin-bottom: 0;
    }
} 
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-title span{
    font-size: .9rem;
    font-weight: 600;
    color: $colorText;
    letter-spacing: 1.18px;
    line-height: 19px;
}
// .sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body{
//     padding-top: 10px;
// }
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group{
    width: 100%;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item{
    border: 0;
    width: 100%;
    position: relative;
    padding: 5px 20px;
    width: 100%;
    @include responsive-mobile{
        padding: 5px 1px
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:first-child{
 
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:first-child .containerCantUsers{
    height: auto;
    display: flex;
    align-items: center;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:first-child .titleCant{
    font-size: .9rem;
    font-weight: 300;
    color: $colorText;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:first-child .cant{
    font-size: 1rem;
    font-weight: 300;
    color: $colorText;
    position: absolute;
    right: 20px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:last-child{
    padding: 10px 20px;
    @include responsive-mobile{
        padding: 6px 1px;
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:last-child .iconsUsersAdmin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:last-child .iconsUsersAdmin .imgUserIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-body .list-group .list-group-item:last-child .iconsUsersAdmin{
    img{
        width: 45px;
        height: 45px;
        @include responsive-mobile{
            width: 35px;
            height: 35px;
        }
    }
    span{
        @include responsive-mobile{
            font-size: .8rem;
        }
    }
} 
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.1rem;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdmin .card-footer button{
    background-color: $backgroundDates;
    border-radius: $buttonsRadius;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    line-height: 17px;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdminIdeas {
    // height: auto;
}
// .sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdminIdeas .card-body{
//     padding: 0rem 1.25rem;
// }
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdminIdeas .card-body .list-group .list-group-item {
    // padding: 0rem 1.25rem;
    // height: 30px;
    @include responsive-mobile{
        padding: .1rem 0rem;
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdminIdeas .card-body .list-group .list-group-item:last-child {
    padding: 0rem 1.25rem;
    @include responsive-mobile{
        padding: .1rem 0rem;
    }
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdminIdeas .card-body .list-group .list-group-item .cant{
    position: absolute;
    right: 20px;
    font-size: 1rem;
    color: $colorText;
}
.sectionPerfilAdmon .containerCardsPerfilAdmon .cardAdminIdeas .card-body .list-group .list-group-item .idea{
    margin-left: 10px;
    font-size: .9rem;
    font-weight: 300;
    color: $colorText;
}