<section class="sectionPerfilAdmon">
	<div class="containerSectionPerfilAdmon">
		<div class="row">
		<div class="col-12">
			<div class="containerTitleAdmon">
			<h3>Perfil Administrador</h3>
			</div>
			<hr>
		</div>
		<div class="col-12 containerCardsPerfilAdmon">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 ">
					<div class="card cardPerfil">
						<div class="cardheader" data-toggle="tooltip" data-placement="bottom" title="Editar">
							<img class="imgPerfilUser" src="{{getImgUser (userDatesPerfil.UsersDTO.IdUsers)}}" alt="">
							<button class="btnImgPerfilUser" data-toggle="modal" data-target="#exampleModalCenter">
								<img src="assets/img/icons/perfilUser/pencil-edit-buttons.svg" alt="" class="imgEditPerfil"> 
							</button>
						</div>
						<div class="namePerfilUser"> 
							<span>{{userDatesPerfil.UsersDTO.UserFirstName}} {{userDatesPerfil.UsersDTO.UserLastName}}</span>
							<label>{{userDatesPerfil.UsersTypeDTO.UsersType}}</label>
						</div>
						<form [formGroup]="formPerfilUser" (ngSubmit)="putDatesUser(formPerfilUser.value)">
							<div class="card-body">
									<div class="form-group">
										<label for="formGroupExampleInput">Nickname</label>
										<input type="text" formControlName="nickName" class="form-control" id="formGroupExampleInput" placeholder="{{userDatesPerfil.UsersDTO.UserNickName}}">
									</div>
								
								<label for="formGroupExampleInput2">Correo</label>
								<span class="emailPerfilUser">{{userDatesPerfil.UsersDTO.UserEmail}}</span>
							</div>
							<div class="card-footer">
								<button class="btn btn-block btnSavePerfilAdmon">Guardar cambios</button>
							</div>
						</form>
					</div>
					<div class="card cardPqr">
						<div class="card-title">
							<h4>PQR</h4>
						</div>
						<div class="car-body">
							<button class="btn btn-block" data-toggle="modal" data-target=".bd-example-modal-xl">Nuevo mensaje interno</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 cardAll">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="card cardMisPostuladasAdmon">
								<div class="card-title">
									<span>Mis ideas mas votadas</span>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li class="list-group-item" *ngFor="let ideaVote of ideasMoreVotes; index as i">
											<div class="containerUserTop imgUserIdeaTop">
												<div class="imgUserTop">
													<img [src]="'assets/img/icons/dashboard/idea.svg'" alt="">
												</div>
												<div class="topParticipation topIdeaPercentage">
													<div class="topParticipationNamePercentage topParticipationIdeaPercentage">
														<p class="nameUserTop contentIdeaTop">
															{{ideaVote.IdeasDTO.IdeaText}}
														</p>
														<span class="percentage percentagetIdeaTop">{{ideaVote.CountIdeasVotadas}}</span>
													</div>
													<div class="progress">
														<div class="progress-bar" role="progressbar" [ngStyle]="{'width': ideaVote.CountIdeasVotadas +'%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20"></div>
													</div>
												</div>
											</div> 
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 containerCardMisIdeasPostuladas">
							<div class="card cardTodasPostuladasAdmon cardAdmon">
								<div class="card-title">
									<span>Todas mis ideas postuladas</span>
								</div>
								<div class="card-body">
									<div class="">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" *ngFor="let myIdeaFour of ideasLastFourUser; index as i">
                                                <span class="spinnerIdea">.</span>
                                                <span class="contenIdeaText">{{myIdeaFour.IdeasDTO.IdeaText}}</span>
                                                <div class="contentIconIdeaText">
                                                    <button class="btnIconIdeaText" [routerLink]="['/idea', myIdeaFour.IdeasDTO.IdIdeas]"><img [src]="'assets/img/icons/dashboard/eye.svg'" alt=""></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-block btnSeeMore" [routerLink]="'/usuario-todas'">Ver más</button>
                                    </div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card cardOpninionesAdmon cardAdmon">
								<div class="card-title">
									<span>Mis opiniones</span>
								</div>
								<div class="card-body">
									<div class="">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" *ngFor="let commentUser of commentsLastFourUser; index as c">
                                                <span class="spinnerIdea">.</span>
                                                <span class="contenIdeaText">{{commentUser.CommentsDTO.Comment}}</span>
                                                <div class="contentIconIdeaText">
                                                    <button class="btnIconIdeaText" [routerLink]="['/idea', commentUser.IdeasDTO.IdIdeas]"><img [src]="'assets/img/icons/dashboard/eye.svg'" alt=""></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-block btnSeeMore" [routerLink]="'/usuario-comentarios'">Ver más</button>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 containerCardsAmininAll">
					<div class="row">
						<div class="col-12">
							<div class="card cardAdmin">
								<div class="card-title">
									<span>Todos los usuarios</span>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<div class="containerCantUsers">
												<span class="titleCant">Cantidad de usuarios registrados</span>
												<span class="cant">80</span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="iconsUsersAdmin">
												<div class="imgUserIcon">
													<img [src]="'assets/img/users/ideas-avatar-hombre.svg'" alt="">
													<span>Juan</span>
												</div>
												<div class="imgUserIcon">
													<img [src]="'assets/img/users/ideas-avatar-mujer.svg'" alt="">
													<span>Luisa</span>
												</div>
												<div class="imgUserIcon">
													<img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="">
													<span>Harol</span>
												</div>
												<div class="imgUserIcon">
													<img [src]="'assets/img/users/ideas-avatar-mujer-coletas.svg'" alt="">
													<span>Manuela</span>
												</div>
												<div class="imgUserIcon">
													<img [src]="'assets/img/users/ideas-avatar-hombre-gafas.svg'" alt="">
													<span>Pedro</span>
												</div>
											</div>
										</li>
									  </ul>
								</div>
								<div class="card-footer">
									<button class="btn btn-block" [routerLink]="'/administracion-usuarios'">Adiministrar</button>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="card cardAdmin cardAdminIdeas">
								<div class="card-title">
									<span>Todas las ideas</span>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<div class="ideasAllType">
												<img [src]="'assets/img/icons/dashboard/idea.svg'" alt="" class="imgIdeaAdmin">
												<span class="idea">Ideas postuladas</span>
												<span class="cant">20</span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="ideasAllType">
												<img [src]="'assets/img/icons/dashboard/idea.svg'" alt="" class="imgIdeaAdmin">
												<span class="idea">Ideas aprobadas</span>
												<span class="cant">6</span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="ideasAllType">
												<img [src]="'assets/img/icons/dashboard/idea.svg'" alt="" class="imgIdeaAdmin">
												<span class="idea">Ideas finalizadas</span>
												<span class="cant">3</span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="ideasAllType">
												<img [src]="'assets/img/icons/dashboard/idea.svg'" alt="" class="imgIdeaAdmin">
												<span class="idea">Ideas muertas</span>
												<span class="cant">15</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="card-footer">
									<button class="btn btn-block" [routerLink]="'/administracion-ideas'">Adiministrar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>

<!-- Modal Mensaje interno o PQR -->
<div class="modal fade bd-example-modal-xl modalPQR" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup] = "formInterna"  (ngSubmit) = "postInternalIdeas(formInterna.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Escribenos tus sugerencias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card cardAffair">
                        <div class="selectAffair">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Peticion</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Queja</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3">Reclamo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                <label class="form-check-label" for="inlineRadio4">Sugerencia</label>
                            </div>
                        </div>
                    </div>
                    <div class="pqrText">
                        <textarea name="" id="textSendPQR" cols="30" rows="10" formControlName="mensaje">

                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancelPQR" data-dismiss="modal" (click)="reset()">Cancelar</button>
                    <button type="submit" class="btn btn-primary btnSubmitPQR">Enviar</button>
                </div>
            </form>    
        </div>
    </div>
</div>

 <!-- Modal cambio imagen -->
 <div class="modal fade modalCambioImagenUsuario" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Selecciona un nuevo avatar o sube una foto.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelSelectIdea()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="containerImgsUserSelection">
						<div class="titleModalBody">
							<span>- Selecciona alguno de los avatares que tenemos disponibles.</span>
						</div>
						<div class="imgPerfilSelected" > 
							<div class="imgSelected" (click)="getNameImg(id)" id="img1" *ngFor="let img of imgs; index as i">
								<img src="{{img.source}}" alt="" class="imgSelectChange" [id]="img.id">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="exampleRadios" [id]="img.id" value="option1">
								</div>
							</div>
						</div>
						<div class="titleModalBody">
							<span>- Sube una imagen.</span> 
						</div>
						<div class="imgUpload">
							<div class="containerImgUpload" id="containerImgUpload">
								<img id="upload" [src]="imgSrc"  alt="">
							</div>
							<div class="containerBtnUpload">
								<input type="file"  id="imgUpload" class="inputUpload"  accept="image/*" (change)="captureImg($event.target.files);">
								<label for="imgUpload">
									<span class="btn btn-secondary btn-lg btnUpload">Subir archivo</span>
								</label> 
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btnModal btnCancel" data-dismiss="modal" (click)="cancelSelectIdea()">Cancelar</button>
					<button type="button" class="btn btn-primary btnModal btnSave" (click)="changeImgPerfil()">Guardar</button>
				</div>
			</div>
		</div>
	</div>
