$bacgroundComponent: #fff;
$colorSectionWrite : #fff;
$colorSections : #eee;
$colorBtnIdeas: #263238;
$colorBrowser: #fafafa;
$colorText: #5A5858;
$fontFamilyRegular: "Aristotelica Display Regular";
$colorTitle: #E7B843;
$colorButtons: #E7B843;
$radiusButtons: 50px;

// Grid
$grid-breakpoints: (
  // Extra small screen / phone
  "xs": 0,
  // Small screen / phone
  "sm": 576px,
  // Medium screen / tablet
  "md": 768px,
  // Large screen / desktop
  "lg": 992px,
  // Extra large screen / wide desktop
  "xl": 1200px
);

// Mixins
@mixin responsive-mobile {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "sm")){
        @content;
    }
}

h1,h2,h3,h4,h5,h6,span,p,a,li,label,small,input,button,textarea{
    font-family: $fontFamilyRegular;
}
//Formulario donde se escriben las ideas
.sectionIdeasPostulate{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorSectionWrite;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasPostulate .containerIdeas{
    width: 100%;
    height: auto;
    padding: 0;
    padding-left: 28px;
    padding-right: 28px;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
    margin: 0;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard{
    width: 100%;
    padding: 0;
}

.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend{
    flex-wrap: nowrap;
    //margin-bottom: 0;
    border-radius: 3px;
    height: 32px;
    width: 90%;
    margin-bottom: 0 !important;
    @include responsive-mobile{
        width: 100%;
        margin-top: .5rem;
        margin-bottom: .5rem !important;
    }
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 50px;
    padding: 0;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .spaceWriteIdea{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    padding: .7rem .5rem .5rem 1rem;
    border: none;
    background-color: $colorBrowser;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text{
    padding: 0 14px 0px 0px;
    background-color: $colorBrowser;
    border: none;
    border-radius: 0px 50px 50px 0px;
    
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: $colorBrowser;
    align-items: center;
    padding: .5rem;
}

.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea img{
    width: 16px;
    height: 16px;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard{
    display: flex;
    justify-content: flex-end;
    @include responsive-mobile{
        justify-content: flex-start;
    }
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .titleNotification{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
    display: block;
    width: auto;
    height: 15px;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .imgAlertNotification{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .titleMenu{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav{
    position: absolute;
    width: 178.91px;
    height: calc(190px);
    right: 7px;
    top: 40px;
    z-index: 1005;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive-mobile{
        width: calc(85vw);
        height: auto;
        padding-top: .8rem;
        padding-bottom: .8rem;
        right: 0;
    }
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before,.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent #fff;
    right: 7px;
    z-index: 1000;
    top: -8px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
    @include responsive-mobile(){
        right: 14px;
    }
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.12);
    right: 7px;
    z-index: 1000;
    top: -10px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
    @include responsive-mobile(){
        right: 14px;
    }
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item{
    padding: 0.1rem 1.25rem;
    border: 0;
    @include responsive-mobile(){
        padding: 0.7rem 1.25rem;
    }
    a:hover{
        font-weight: 600;
    }
}
.sectionIdeasPostulate .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item a{
    color: #6E707B;
    font-size: .9rem;
    text-decoration: none;
}

// Section ideas postuladas

.sectionPostuladas{
    padding-left: 36px;
    padding-right: 36px;
}
.sectionPostuladas .containerPostuladas{
    width: 100%;
}
.sectionPostuladas .containerPostuladas .titlePostuladas{
    padding-top: 28px;
    padding-bottom: calc(26px - 1rem);
    color: $colorTitle;
}
.sectionPostuladas .containerPostuladas hr{
    height: 1px;
    background-color: $colorTitle;
}
.sectionPostuladas .containerPostuladas .contCardPost{
    margin-bottom: 15px;
}
.sectionPostuladas .containerPostuladas .contCardPost .card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    border: 1px solid #DDDDDD;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas{
    width: 100%;
    // padding-left: .9rem;
    // padding-right: .9rem;
    padding-top: 29px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas{

}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-title{
    padding-left: 14px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-title span{
    font-size: .9rem;
    color: $colorText;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body{
    padding-bottom: 0;
    padding-top: 0;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea{
    display: flex;
    align-items: center;
    @include responsive-mobile{
        padding-left: 0;
        padding-right: 0;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .img{
    width: 5%;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .img img{
    width: 30px;
    height: 30px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .descIdea{
    width: 70%;
    height: 14px;
    @include responsive-mobile{
        width: 90%;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .descIdea p{
    font-size: .9rem;
    line-height: 17px;
    width: 70%;
    overflow: hidden;
    height: 14px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-align: justify;
    @include responsive-mobile{
        width: 74%;
        margin-left: 10px;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .date{
    width: 23%;
    height: 14px;
    @include responsive-mobile{
        font-size: .7rem;
        margin-right: 10px;
        display: none;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .see{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-body .postuladasMe .list-group .idea .see .btnEyePostulate{
    background: rebeccapurple;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: $radiusButtons;
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-footer{
    padding-top: 31px;
    padding-bottom: 35px;
    background-color: transparent;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardMisPostuladas .card-footer .pagination{
    margin-bottom: 0; 
    display: flex;
    justify-content: center;
    .paginationNgx{
        display: flex;
        .pagination-previous{
            .arrowPrevius{
                transform: rotate(0.25turn);
                margin-right: 5px;
                height: 8px;
                margin-bottom: 2px;
            }
        }
        .current{
            width: 15px;
            display: flex;
            justify-content: center;
            div{
                span{
                    font-weight: 600;
                }
            }
        }
        
        .pagination-next{
            .arrowNext{
                transform: rotate(0.75turn);
                margin-left: 5px;
                height: 8px;
                margin-bottom: 2px;
            }
        }
    }
}

// Todas las ideas postuladas
.sectionPostuladas{
    padding-left: 36px;
    padding-right: 36px;
}
.sectionPostuladas .containerPostuladas{
    width: 100%;
}
.sectionPostuladas .containerPostuladas .titlePostuladas{
    padding-top: 28px;
    padding-bottom: calc(26px - 1rem);
    color: $colorTitle;
}
.sectionPostuladas .containerPostuladas hr{
    height: 1px;
    background-color: $colorTitle;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas{
    width: 100%;
    // padding-left: .9rem;
    // padding-right: .9rem;
    padding-top: 29px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas{

}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-title{
    padding-left: 14px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-title span{
    font-size: .9rem;
    color: $colorText;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body{
    padding-bottom: 0;
    padding-top: 0; 
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea{
    display: flex;
    align-items: center;
    @include responsive-mobile{
        padding-left: 0;
        padding-right: 0;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .img{
    width: 5%;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .img img{
    width: 30px;
    height: 30px;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .descIdea{
    width: 70%;
    height: 14px;
    @include responsive-mobile{
        width: 90%;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .descIdea p{
    font-size: .9rem;
    line-height: 17px;
    width: 73%;
    overflow: hidden;
    height: 14px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-align: justify;
    @include responsive-mobile{
        width: 74%;
        margin-left: 10px;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .date{
    width: 20%;
    height: 14px;
    @include responsive-mobile{
        font-size: .7rem;
        margin-right: 10px;
        display: none;
    }
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .see{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-body .postuladasMe .list-group .idea .see .btnEyePostulate{
    background: rebeccapurple;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: $radiusButtons;
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-footer{
    padding-top: 31px;
    padding-bottom: 35px;
    background-color: transparent;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-footer .pagination{
    margin-bottom: 0;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-footer .pagination .page-item .page-link{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #444;
    padding-left: 0;
    padding-right: 0;
    margin-left: .7rem;
    margin-right: .7rem;
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-footer .pagination .page-item .page-link .arrowPrevius{
    transform: rotate(0.25turn);
}
.sectionPostuladas .containerPostuladas .containerCardsPostuladas .cardTodasPostuladas .card-footer .pagination .page-item .page-link .arrowNext{
    transform: rotate(0.75turn);
}