<section class="sectionDeadIdeas">
    <div class="containerIdeas">
        <div class="row">
            <div class="col">
                <div class="containerWriteIdeas">
                    <div class="containerIdeaGeneral row">
                        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 containerWriteIdeaBoard">
                            <label class="sr-only" for="inlineFormInputGroup"></label>
                            <div class="input-group groupMessageSend mb-2">
                                <form action="" class="formNewMessage">
                                    <input name="idea" id="" cols="30" rows="10" class="spaceWriteIdea" placeholder="Cual es tu idea?" required>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <button class="btn btnPlusIdea" type="submit" value="Enviar Comentario" >
                                                <img [src]="'assets/img/icons/dashboard/browser.svg'" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 col-xl-2 notificationDashboard">
                            <div class="notification">
                                <span class="titleNotification">Notificaciones</span>
                                <div class="imgAlertNotification">
                                    <img [src]="'assets/img/icons/dashboard/notification.svg'" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 col-xl-2 menuHamburgerDashboard">
                            <div class="menuHamburguer">
                                    <span class="titleMenu">Menu</span>
                                <button class="navbar-toggler" (click)="showMenuNav()">
                                        <img [src]="'assets/img/icons/dashboard/hamburguer.svg'" alt="">
                                </button>
                            </div>
                                <div class="menuNav" *ngIf="menuComponents">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <a [routerLink]="'/dashboard'">
                                                <span>
                                                    <img [src]="'assets/img/icons/dates/ovalGrey.svg'" alt="">
                                                </span> 
                                                <span>
                                                    Dashboard
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a [routerLink]="'/postuladas'">
                                                <span>
                                                    <img [src]="'assets/img/icons/dates/ovalGrey.svg'" alt="">
                                                </span> 
                                                <span>
                                                        Ideas postuladas
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a [routerLink]="'/aprobadas'">
                                                    <span>
                                                        <img [src]="'assets/img/icons/dates/ovalGreen.svg'" alt="">
                                                    </span> 
                                                    <span>
                                                        Ideas aprobadas
                                                    </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a [routerLink]="'/debate'">
                                                <span>
                                                    <img [src]="'assets/img/icons/dates/ovalOrange.svg'" alt="">
                                                </span> 
                                                <span>
                                                        Ideas en debate
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a [routerLink]="'/finalizadas'">
                                                <span>
                                                    <img [src]="'assets/img/icons/dates/ovalRed.svg'" alt="">
                                                </span> 
                                                <span>
                                                    Ideas finalizadas
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a [routerLink]="'/muertas'">
                                                <span>
                                                    <img [src]="'assets/img/icons/dates/ovalBlack.svg'" alt="">
                                                </span> 
                                                <span>
                                                    Ideas muertas
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="filterAddIdeasDead">
        <div class="container"> 
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-xl-12">
                    <div class="iconCementery row">
                        <div class="col-1">
                            <i class="fas fa-skull-crossbones"></i>
                        </div>
                        <div class="title col-11">
                            <h3>Ideas muertas</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="filter card-columns">
                                <div class="cardContainerIdeadDead  card" *ngFor="let idea of ideas; index as i" >          
                                        <div class="containerIdeaCredentials col-sm-12 col-lg-9 col-xl-9" > <!--Filter *ngIf -->
                                            <div class="imgUserInChat" >
                                                <img class="imgPerfilChat" src="http://172.65.10.170:8050/IdeasGeneralAPI/api/Image?idUsers={{idea.IdUsers}}" alt="" >
                                            </div>
                                            <div class="containerNameVotes" >  
                                                <h3 class="nameUserIdea">
                                                    {{idea.Nick_name}}
                                                </h3>
                                                <i class="fas fa-cross"></i>
                                            </div>
                                            <p class="ideaMessageChatUsers ideaMessageChatUsersIdeasDead">
                                                <a [routerLink]="['/idea', i]" class="paragraphIdea">{{idea.IdeaText}}</a>
                                            </p>
                                            <div class="containerDisplayReply containerDisplayReplyIdeasDead">
                                                <h4 class="replyTitle">Comentarios
                                                </h4>
                                                <ul class="elementReply list-group list-group-flush">
                                                        
                                                </ul>
                                            </div>
                                            <hr>
                                            <button class="btn btn-block btnSeeMoreMessage btnSeeMoreMessageIdeasDead" id="btnSeeMoreMessage" (click)="collapseIdea(i)">
                                                Ver
                                                <i class="fas fa-comment-alt answerMessage" id="answerMessage"></i>
                                                <i class="fas fa-plus iconMoreMinus iconMoreMinusIdeasDead"></i>
                                            </button>
                                        </div>
                                    </div>
                        </div>
    
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
