$bacgroundComponent: #fff;
$colorSectionWrite : #fff;
$colorSections : #eee;
$colorBtnIdeas: #263238;
$colorBrowser: #fafafa;
$colorText: #5A5858;
$fontFamilyRegular: "Aristotelica Display Regular";
$colorTitle: #E7B843;
$colorButtons: #E7B843;
$radiusButtons: 50px;

// Grid
$grid-breakpoints: (
  // Extra small screen / phone
  "xs": 0,
  // Small screen / phone
  "sm": 576px,
  // Medium screen / tablet
  "md": 768px,
  // Large screen / desktop
  "lg": 992px,
  // Extra large screen / wide desktop
  "xl": 1200px
);

// Mixins
@mixin responsive-mobile {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "sm")){
        @content;
    }
}

h1,h2,h3,h4,h5,h6,span,p,a,li,label,small,input,button,textarea{
    font-family: $fontFamilyRegular;
}
//Formulario donde se escriben las ideas
.sectionIdeasApproved{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorSectionWrite;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasApproved .containerIdeas{
    width: 100%;
    height: auto;
    padding: 0;
    padding-left: 28px;
    padding-right: 28px;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
    margin: 0;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard{
    width: 100%;
    padding: 0;
}

.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend{
    flex-wrap: nowrap;
    //margin-bottom: 0;
    border-radius: 3px;
    height: 32px;
    width: 90%;
    margin-bottom: 0 !important;
    @include responsive-mobile{
        width: 100%;
        margin-top: .5rem;
        margin-bottom: .5rem !important;
    }
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 50px;
    padding: 0;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .spaceWriteIdea{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    padding: .7rem .5rem .5rem 1rem;
    border: none;
    background-color: $colorBrowser;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text{
    padding: 0 14px 0px 0px;
    background-color: $colorBrowser;
    border: none;
    border-radius: 0px 50px 50px 0px;
    
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: $colorBrowser;
    align-items: center;
    padding: .5rem;
}

.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea img{
    width: 16px;
    height: 16px;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard{
    display: flex;
    justify-content: flex-end;
    @include responsive-mobile{
        justify-content: flex-start;
    }
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .titleNotification{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
    display: block;
    width: auto;
    height: 15px;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .notificationDashboard .notification .imgAlertNotification{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .titleMenu{
    color: $colorText;
    font-size: .9rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.18px;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav{
    position: absolute;
    width: 178.91px;
    height: calc(190px);
    right: 7px;
    top: 40px;
    z-index: 1005;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before,.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent #fff;
    right: 7px;
    z-index: 1000;
    top: -8px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 5px 14px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.12);
    right: 7px;
    z-index: 1000;
    top: -10px;
    -webkit-transform: rotate(0.4turn);
    transform: rotate(0.4turn);
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item{
    padding: 0.1rem 1.25rem;
    border: 0;
}
.sectionIdeasApproved .containerIdeas .containerWriteIdeas .containerIdeaGeneral .menuHamburgerDashboard .menuNav .list-group .list-group-item a{
    color: #6E707B;
    font-size: .9rem;
}

// Ideas aprovadas
.sectionApprovedIdeas{
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: .7rem;
}
.sectionApprovedIdeas .containerApprovedIdeas .titleApproved{
    padding-top: 26px;
    padding-bottom: 28px;
}
.sectionApprovedIdeas .containerApprovedIdeas .titleApproved h3{
    color: $colorTitle;
    font-size: 1.5rem;
    letter-spacing: 1.76px;
    line-height: 32px;
}
.sectionApprovedIdeas .containerApprovedIdeas .titleApproved hr{
    height: 1px;
    background-color: $colorTitle;
}

.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .card{
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .card .card-title{
    padding-left: 20px;
    padding-right: 20px;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-title{
    border-bottom: 1px solid rgba(0,0,0, 0.125);
    margin-bottom: 0;
    @include responsive-mobile{
        display: flex;
        padding-top: .2rem; 
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-title .title{
    color: $colorText;
    letter-spacing: 1.18px;
    font-size: .9rem;
    font-weight: 600;
    @include responsive-mobile{
        font-size: .75rem;
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-title .dateApproved{
    position: absolute;
    right: 20px;
    top: 5px;
    color: $colorText;
    letter-spacing: 1.18px;
    font-size: .9rem;
    text-transform: lowercase;
    @include responsive-mobile{
        font-size: .6rem;
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-body{
    padding: 0;
}

.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-body .list-group .list-group-item:first-child {
    border-top: 0;
    display: flex;
    align-items: center;
    color: $colorText;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-body .list-group .list-group-item:first-child .name{
    margin-left: 14px;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-body .list-group .list-group-item:nth-child(2)
{
    font-weight: 500;
    letter-spacing: 1.18px;
    color: $colorText;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-body .list-group .list-group-item:nth-child(3){
    color: $colorText;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardLastAproved .card-body .list-group .list-group-item{
    border-left: 0;
    border-right: 0;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApprovedAll{
    padding-left: 0;
    @include responsive-mobile{
        padding-left: 15px;
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea{
    display: flex;
    align-items: center;
    @include responsive-mobile{
        padding-left: 0;
        padding-right: 0;
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .img{
    width: 5%;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .img img{
    width: 30px;
    height: 30px;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .descIdea{
    width: 70%;
    height: 14px;
    @include responsive-mobile{
        width: 90%;
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .descIdea p{
    font-size: .9rem;
    line-height: 17px;
    width: 73%;
    overflow: hidden;
    height: 14px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-align: justify;
    margin-left: 8px;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .date{
    width: 20%;
    height: 14px;
    @include responsive-mobile{
        display: none;
    }
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .see{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-body .list-group .idea .see .btnEyePostulate{
    background: rebeccapurple;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: $radiusButtons;
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-footer{
    padding-top: 31px;
    padding-bottom: 35px;
    justify-content: center;
    background-color: transparent;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-footer .pagination{
    margin-bottom: 0;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-footer .pagination .page-item .page-link{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #444;
    padding-left: 0;
    padding-right: 0;
    margin-left: .7rem;
    margin-right: .7rem;
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-footer .pagination .page-item .page-link .arrowPrevius{
    transform: rotate(0.25turn);
}
.sectionApprovedIdeas .containerApprovedIdeas .containerCardApproved .cardAlltAproved .card-footer .pagination .page-item .page-link .arrowNext{
    transform: rotate(0.75turn);
}