$colorDatesUser: #E7B843;

.containerDatesChat{
    position: relative;
    width: 100%;
    height: auto;
    background-color: $colorDatesUser;
}
.containerBar{
    height: 100%;
    padding: 0;
    border-right: 1px solid rgba(0,0,0,0.125);
}
