$bacgroundComponent: #fff;
$colorSectionWrite : #fff;
$colorSections : #eee;
$colorBtnIdeas: #263238;
$colorBrowser: #fafafa;
$colorText: #5A5858;
$fontFamilyRegular: "Aristotelica Display Regular";
$colorTitle: #E7B843;
$colorButtons: #E7B843;
$radiusButtons: 50px;

$grid-breakpoints: (
  // Extra small screen / phone
  "xs": 0,
  // Small screen / phone
  "sm": 576px,
  // Medium screen / tablet
  "md": 768px,
  // Large screen / desktop
  "lg": 992px,
  // Extra large screen / wide desktop
  "xl": 1200px
);

// Mixins
@mixin responsive-mobile {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "sm")){
        @content;
    }
}

//Formulario donde se escriben las ideas
.sectionAllCommentUser{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorSectionWrite;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 90px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    .containerIdeas{
        width: 100%;
        height: auto;
        padding: 0;
        padding-left: 28px;
        padding-right: 28px;
    }
    .containerWriteIdeas .containerIdeaGeneral{
        width: 100%;
        display: flex;
        position: relative;
        justify-content: left;
        margin: 0;
        .containerWriteIdeaBoard{
            width: 100%;
            padding: 0;
            .groupMessageSend{
                flex-wrap: nowrap;
                //margin-bottom: 0;
                border-radius: 3px;
                height: 32px;
                width: 90%;
                margin-bottom: 0 !important;
                @include responsive-mobile{
                    width: 100%;
                    margin-bottom: .5rem !important;
                    margin-top: .5rem;
                }
                .formNewMessage{
                    width: 100%;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
                    border-radius: 50px;
                    padding: 0;
                    .spaceWriteIdea{
                        margin-top: 0px;
                        margin-bottom: 0px;
                        width: 100%;
                        border-radius: 50px 0px 0px 50px;
                        padding: .7rem .5rem .5rem 1rem;
                        border: none;
                        background-color: $colorBrowser;
                    }
                    .input-group-text{
                        padding: 0 14px 0px 0px;
                        background-color: $colorBrowser;
                        border: none;
                        border-radius: 0px 50px 50px 0px;
                        .btnPlusIdea{
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            color: $colorBrowser;
                            align-items: center;
                            padding: .5rem;
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }                        
                    }
                }
            }
        }
        .notificationDashboard{
            display: flex;
            justify-content: flex-end;
            @include responsive-mobile{
                justify-content: flex-start;
            }
            .notification{
                display: flex;
                align-items: center;
                justify-content: center;
                .titleNotification{
                    color: $colorText;
                    font-size: .9rem;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 1.18px;
                    display: block;
                    width: auto;
                    height: 15px;
                }
                .imgAlertNotification{
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
        .menuHamburgerDashboard{
            display: flex;
            justify-content: flex-end;
            padding-right: 0;
            .titleMenu{
                color: $colorText;
                font-size: .9rem;
                font-weight: 600;
                line-height: 19px;
                letter-spacing: 1.18px;
            }
            .menuNav{
                position: absolute;
                width: 178.91px;
                height: calc(190px);
                right: 7px;
                top: 40px;
                z-index: 1005;
                border: 1px solid #DDDDDD;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                border-radius: 2px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .list-group .list-group-item{
                    padding: 0.1rem 1.25rem;
                    border: 0;
                    a{
                        color: #6E707B;
                        font-size: .9rem;
                    }
                }
            }
            .menuNav::before,.menuNav::after{
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                display: block;
                border-width: 10px 0px 5px 14px;
                border-style: solid;
                border-color: transparent #fff;
                right: 7px;
                z-index: 1000;
                top: -8px;
                -webkit-transform: rotate(0.4turn);
                transform: rotate(0.4turn);
            }
            .menuNav::before{
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                display: block;
                border-width: 10px 0px 5px 14px;
                border-style: solid;
                border-color: transparent rgba(0, 0, 0, 0.12);
                right: 7px;
                z-index: 1000;
                top: -10px;
                -webkit-transform: rotate(0.4turn);
                transform: rotate(0.4turn);
            }
        }
    }
}

// Seccion todos los comentarios por usuario
.sectionCommentAllUser{
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 1rem;
    .containerCommentAllUser{
        .row{
            .cardOptions{
                margin-bottom: 1rem;
                padding: 20px;
                .options{
                    display: flex;
                    justify-content: flex-end;
                    .form-check{
                        margin-right: 23px;
                    }
                }
            }
            .title{
                padding-bottom: 1rem;
                h3{
                    padding-top: 26px;
                    color: $colorButtons;
                    font-size: 1.5rem;
                    letter-spacing: 1.76px;
                    line-height: 32px;
                }
                hr{
                    height: 1px;
                    background-color: $colorButtons;
                }
            }
            .cardAllComments{
                background-color: $bacgroundComponent;
                .card-body{
                    .list-group{
                        .list-group-item{
                            padding: 1.5rem 1.25rem;
                            .iconMessageAll{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #63C533;
                            }
                            .commentParagraphAll{
                                display: flex;
                                align-items: center;
                                .paragraphCommentAll{
                                    line-height: 17px;
                                    width: 95%;
                                    overflow: hidden;
                                    height: 14px;
                                    white-space: pre-wrap;
                                    text-overflow: ellipsis;
                                    text-align: justify;
                                    margin-bottom: 0;
                                }
                            }
                            .iconEyeAll{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .btnEyeAll{
                                    border-radius: 50px;
                                    border: none;
                                    width: 16px;
                                    height: 16px;
                                    padding: 0;
                                    display: flex;
                                    align-items: center;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
                .card-footer{
                    background-color: $bacgroundComponent;
                    padding-top: 31px;
                    padding-bottom: 35px;
                    .paginationNgx{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        .pagination-previous{
                            width: 25px;
                            height: auto;
                            margin-right: 5px;
                            .arrowPrevius{
                                transform: rotate(0.25turn);
                                cursor: pointer;
                            }
                        }
                        .current{
                            div{
                                width: 25px;
                                text-align: center;
                                span{
                                    font-weight: 600;
                                    color: #111;
                                }
                            }
                        }
                        .pagination-next{
                            width: 25px;
                            height: auto;
                            margin-left: 5px;
                            .arrowNext{
                                transform: rotate(0.75turn);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
