<section class="sectionAllIdeas">
    <div class="containerIdeas">
        <div class="row">
            <div class="col">
                <div class="containerWriteIdeas">
                    <div class="containerIdeaGeneral row">
                        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 containerWriteIdeaBoard">
                            <label class="sr-only" for="inlineFormInputGroup"></label>
                            <div class="input-group groupMessageSend mb-2">
                                <form action="" class="formNewMessage">
                                    <input name="idea" id="" cols="30" rows="10" class="spaceWriteIdea" placeholder="Cual es tu idea?" required>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <button class="btn btnPlusIdea" type="submit" value="Enviar Comentario" >
                                                <img [src]="'assets/img/icons/dashboard/browser.svg'" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 col-xl-2 notificationDashboard">
                            <div class="notification">
                                <span class="titleNotification">Notificaciones</span>
                                <div class="imgAlertNotification">
                                    <img [src]="'assets/img/icons/dashboard/notification.svg'" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 col-xl-2 menuHamburgerDashboard">
                            <div class="menuHamburguer">
                                <span class="titleMenu">Menu</span>
                                <button class="navbar-toggler" (click)="showMenuUser()">
                                    <img [src]="'assets/img/icons/dashboard/hamburguer.svg'" alt="">
                                </button>
                            </div>
                            <div class="menuNav" *ngIf="menuComponents">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a [routerLink]="'/dashboard'">
                                            <span>
                                                <img [src]="'assets/img/icons/dates/ovalGrey.svg'" alt="">
                                            </span> 
                                            <span>
                                                Dashboard
                                            </span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="'/postuladas'">
                                            <span>
                                                <img [src]="'assets/img/icons/dates/ovalGrey.svg'" alt="">
                                            </span> 
                                            <span>
                                                Ideas postuladas
                                            </span>
                                           </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="'/aprobadas'">
                                            <span>
                                                <img [src]="'assets/img/icons/dates/ovalGreen.svg'" alt="">
                                            </span> 
                                            <span>
                                                Ideas aprobadas
                                            </span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="'/debate'">
                                            <span>
                                                <img [src]="'assets/img/icons/dates/ovalOrange.svg'" alt="">
                                            </span> 
                                            <span>
                                                Ideas en debate
                                            </span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="'/finalizadas'">
                                            <span>
                                                <img [src]="'assets/img/icons/dates/ovalRed.svg'" alt="">
                                            </span> 
                                            <span>
                                                Ideas finalizadas
                                            </span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="'/muertas'">
                                            <span>
                                                <img [src]="'assets/img/icons/dates/ovalBlack.svg'" alt="">
                                            </span> 
                                            <span>
                                                Ideas muertas
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="filterAddIdeas">
    <div class="container"> 
        <div class="row">
            <div class="filter card-columns">
                <div class="allIdeasContent " >
                    <div class="card" *ngFor="let idea of ideas |  paginate: { itemsPerPage: 12, currentPage: p }; index as i">
                        <div class="containerIdeaCredentials containerIdeaCredentialsAll col-sm-22 col-lg-9 col-xl-9" id="{{idea.Id}}">
                            <div class="imgUserInChat">
                                <img src="{{getImgUser(idea.IdUsers)}}" alt="">
                            </div>
                            <div class="containerNameVotes">
                                <h3 class="nameUserIdea">{{idea.Nick_name}}
                                    <ul class="containerBtnsLikesDslike">
                                        <li class="listIconsMessage">
                                            <div class="btnLikeMyHeark" >
                                                <ul class="contentBtnMyHeart" >
                                                    <li>
                                                        <img [src]="'assets/img/icons/chat/myHeart.svg'" alt="" data-toggle="tooltip" data-placement="top" title="Votos"  (click)="popLikesAll(i)"  class="imgHeart">
                                                        <span> {{idea.Total}} </span>
                                                    </li>
                                                </ul>
                                                <div class="votos votosAll"   id="vAll-{{idea.Id}}">
                                                    <ul class="containerNameVotos">
                                                        <li class="upButton">
                                                            <img [src]="'assets/img/icons/chat/hapy.svg'" alt="">
                                                            <span>{{idea.Likes}}</span>
                                                        </li>
                                                        <li class="upButton">
                                                            <img [src]="'assets/img/icons/chat/sad.svg'" alt="">
                                                            <span>{{idea.Dislikes}}</span>
                                                        </li>
                                                        <li class="upButton">
                                                            <img [src]="'assets/img/icons/chat/mee.svg'" alt="">
                                                            <span>{{idea.Neutral}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </h3>
                            </div>
                            <p class="ideaMessageChatUsers ideaMessageChatUsersAllIdeas">
                                <a [routerLink]="['/idea', idea.Id]" class="paragraphIdea">{{idea.IdeaText}}</a>
                            </p>
                            <div class="containerDisplayReply containerDisplayReplyAllIdeas" id="cdra-{{idea.Id}}">
                                <h4 class="replyTitle">Comentarios
                                    <span class="btnAddNewReply" >
                                        <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="left" title="Agregar respuesta"></i>
                                    </span>
                                </h4>
                                <ul class="elementReply list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let commentAll of comments; index as c">
                                        <div class="containerCommentAll">
                                            <p class="commentAll">
                                                {{commentAll.Comments}}
                                            </p>
                                        </div>
                                        <div class="containerCommentImgAll">
                                            <div class="img">
                                                <img src="{{getImgUser(commentAll.Id_user)}}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-block btnSeeMoreMessage btnSeeMoreMessageAllIdeas" id="btnSeeMoreMessage btnSeeMoreMessageAllIdeas" (click)="getId(i); collapseIdeaAll(i)" (load)="getId(i)">
                                Ver
                                <i class="fas fa-comment-alt answerMessage" id="answerMessage"></i>
                                <i class="fas fa-plus iconMoreMinus iconMoreMinusAllIdeas" id="iCdra-{{idea.Id}}"></i>
                            </button> 
                        </div>
                    </div> 
                </div>
            </div>
            <div class="paginationAllIdeas">
                <pagination-template #p1="paginationApi" (pageChange)="pageChange.emit($event);p = $event" class="paginationNgx">
                    <div class="pagination-previous" [class.disabled]="p1.isFirstPage()">
                        <a *ngIf="!p1.isFirstPage()" (click)="p1.previous()" class="arrowPagination arrowPrevius"> <img [src]="'assets/img/icons/dashboard/arrowPagination.svg'" class="arrowPagination arrowPrevius" alt=""> </a>
                    </div>
                    
                    <div *ngFor="let page of p1.pages" [class.current]="p1.getCurrent() === page.value">
                        <a (click)="p1.setCurrent(page.value)" *ngIf="p1.getCurrent() !== page.value">
                            <span>{{ page.label }}</span>
                        </a>
                        <div *ngIf="p1.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>
                    
                    <div class="pagination-next" [class.disabled]="p1.isLastPage()">
                        <a *ngIf="!p1.isLastPage()" (click)="p1.next()" class="arrowPagination arrowNext">  <img [src]="'assets/img/icons/dashboard/arrowPagination.svg'" class="arrowPagination arrowNext" alt=""></a>
                    </div>
                </pagination-template>
            </div>
        </div>
    </div>
</section>
