// Variables
$backgroundDates: #E7B843;
$colorTitle: #E7B843;
$backgroundNavBar: #fff;
$colorText: #5A5858;
$buttonsRadius: 50px;

// Grid
$grid-breakpoints: (
  // Extra small screen / phone
  "xs": 0,
  // Small screen / phone
  "sm": 576px,
  // Medium screen / tablet
  "md": 768px,
  // Large screen / desktop
  "lg": 992px,
  // Extra large screen / wide desktop
  "xl": 1200px,
  // Column-count
  "cc" : 1780px
);

@mixin media-breackpoint {
    @media (min-width: map-get($grid-breakpoints, "cc" ))
    {
        @content;
    }
}
@mixin media-breackpoint-lg {
    @media (min-width: map-get($grid-breakpoints , "lg")) and (max-width: map-get($grid-breakpoints, "cc")){
        @content;
    }
}

.sectionAllUsersAdmin{
    padding-left: 36px;
    padding-right: 36px;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers{
    padding-top: .8rem;
    padding-right: 0;
    padding-left: 0;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .titleAdminAllUser{
    padding-top: 26px;
    h3{
        color: $backgroundDates;
        font-size: 1.5rem;
    }
    hr{
        background-color: $backgroundDates;
        height: 1px;
    }
}
// Cards 
.sectionAllUsersAdmin .containerSectonAllUserAdmin .card-columns{
    max-width: 100%;
    padding-left: 6px;
    padding-right: 22px;
    @include media-breackpoint{
        column-count: 6;
    }
    @include media-breackpoint-lg{
        column-count: 4;
    }
    .card{
        padding: 0;
        margin-bottom: 1.15rem;
        margin-left: .5rem;
        margin-right: .5rem;
        cursor: pointer;
        .card-header{
            padding-bottom: .5rem;
            padding-top: .5rem;
            .containerInfoUser{
                display: flex;
                align-items: center;
                .img{
                    width: 35px;
                    height: 35px;
                    border: 1px solid rgba(0,0,0,0.125);
                    background-color: rgba(0,0,0,0.125);
                    border-radius: 50px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    img{
                        width: 100%;
                    }
                }
                h4{
                    margin-bottom: 0;
                    margin-left: 10px;
                    font-size: 1.1rem;
                    font-weight: 600;
                    height: 15px;
                }
            }
        }
        .card-body{
            padding-bottom: 0.8rem;
            padding-top: 0.2rem;
            .blockquote{
                span{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }  
    }
}

.sectionModalDelete{
    .modal{
        .modal-dialog-centered{
            .modal-content{
                .modal-header{
                    display: flex;
                    justify-content: flex-start;
                    padding: 22px 17px 5px 17px;
                    .modal-title{
                        font-size: 1.125rem;
                        line-height: 28px;
                        color: $colorText;
                        font-weight: 500;
                    }
                    .close{
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        background-color: #9E9E9E;
                        right: 24px;
                        top: 23px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: .81rem .5rem .5rem .5rem;
                        position: absolute;
                    }
                }
                .modal-body{
                    text-align: center;
                    padding: 2.5rem 1rem;
                    .paragraphModalDelete{
                        color: $colorText;
                    }
                }
                .modal-footer{
                    justify-content: space-around;
                    button{
                        border-radius: 50px;
                        width: 153px;
                        height: 39px;
                        border: 1px solid $backgroundDates;
                        font-size: .9rem;
                        letter-spacing: 1.03px;
                        line-height: 8px;
                        padding-top: .65rem;
                        &.cancel{
                            background-color: $backgroundNavBar;
                            color: $backgroundDates;
                        }
                        &.success{
                            background-color: $backgroundDates;
                            color: $backgroundNavBar;
                        }
                    }
                }
            }
        }
    }
}
.sectionModalEditUser{
    .modal{
        .modal-dialog-centered{
            .modal-content{
                .modal-header{
                    display: flex;
                    justify-content: flex-start;
                    padding: 22px 17px 5px 17px;
                    .modal-title{
                        font-size: 1.125rem;
                        line-height: 28px;
                        color: $colorText;
                        font-weight: 500;
                    }
                    .close{
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        background-color: #9E9E9E;
                        right: 24px;
                        top: 23px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: .81rem .5rem .5rem .5rem;
                        position: absolute;
                    }
                }
                .modal-body{
                    padding: 2.5rem 1rem;
                    .contentBtnModal{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        button{
                            border-radius: 50px;
                            width: 153px;
                            height: 39px;
                            border: 1px solid $backgroundDates;
                            font-size: .9rem;
                            letter-spacing: 1.03px;
                            line-height: 8px;
                            padding-top: .65rem;
                            &.cancel{
                                background-color: $backgroundNavBar;
                                color: $backgroundDates;
                            }
                            &.success{
                                background-color: $backgroundDates;
                                color: $backgroundNavBar;
                            }
                        }
                    }
                }
            }
        }
    }
}
