<section class="sectionAllUsersAdmin">
	<div class="containerSectonAllUserAdmin">
		<div class="row">
			<div class="col-12">
				<div class="titleAdminAllUser">
					<h3>Administrar todos los usuarios</h3>
					<hr>
				</div>
			</div>
			<div class="col-12 containerCardsAdminAllUsers">
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-title">
							<div class="containerTitleUser">
								<img [src]="'assets/img/users/ideas-avatar-mujer-coletas.svg'" alt="">
								<span class="name">Angela Zarate</span>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div class="nickname">
										<label for="">Nickname:</label>
										<span>A.Zarate</span>
									</div>
								</li>
								<li class="list-group-item">
									<div class="fullName">
										<label for="">Nombre:</label>
										<span>Angela Zarate</span>
									</div>
								</li>
								<li class="list-group-item">
									<div class="email">
										<label for="">Correo electronico:</label>
										<span>angela.zarate@novatec.com.co</span>
									</div>
								</li>
								<li class="list-group-item">
									<div class="ideas">
										<span class="ideasPostuladasTitle">Total ideas:</span>
										<span class="cant">5</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-6 editUserAdmin">
									<button class="btn">
										<i class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Editar"></i>
									</button>
								</div>
								<div class="col-6 deletetUserAdmin">
									<button class="btn">
										<i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
