// Variables
$backgroundDates: #E7B843;
$colorTitle: #E7B843;
$backgroundNavBar: #fff;
$colorText: #5A5858;
$buttonsRadius: 50px;

// Fuentes
$fontFamilyRegular: "Aristotelica Display Regular";

h1,h2,h3,h4,h5,h6,span,p,a,li,label,small,input,button,textarea{
    font-family: $fontFamilyRegular;
}

.sectionAllUsersAdmin{
    padding-left: 36px;
    padding-right: 36px;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers{
    padding-top: .8rem;
    padding-right: 0;
    padding-left: 0;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .titleAdminAllUser{
    padding-top: 26px;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .titleAdminAllUser h3{
    color: $backgroundDates;
    font-size: 1.5rem;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .titleAdminAllUser hr{
    background-color: $backgroundDates;
    height: 1px;
}

// Cards
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    background-color: $backgroundNavBar;
    border: 1px solid #DDDDDD;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card .card-title{
    padding-bottom: 1.4rem;
    padding-top: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card .card-title .containerTitleUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card .card-title .containerTitleUser img{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card .card-title .containerTitleUser span{
    font-size: 1.2rem;
    color: $colorText;
    font-weight: 600;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card .card-body{
    padding-top: 0;
}
.sectionAllUsersAdmin .containerSectonAllUserAdmin .containerCardsAdminAllUsers .card .card-body .list-group .list-group-item{

}