// @font-face{
//     font-family: "Aristotelica Display";
//     src: url('../assets/fonts/Aristotelica-Display-Bold-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-DemiBold-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-ExtraLight-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-Fat-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-Hairline-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-Light-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-Regular-OTF.otf'),
//         url('../assets/fonts/Aristotelica-Display-Thin-OTF.otf')
// }
@font-face{
    font-family: "Aristotelica Display Bold";
    src: url('../assets/fonts/Aristotelica-Display-Bold-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-DemiBold-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-ExtraLight-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-Fat-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-Hairline-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-Light-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-Regular-TTF.ttf'),
    url('../assets/fonts/Aristotelica-Display-Thin-TTF.ttf')
}
@font-face{
    font-family: "Aristotelica Display Regular";
    src:  url('../assets/fonts/Aristotelica-Display-Regular-TTF.ttf')
}