<section class="sectionAllIdeasAdmin">
    <div class="containerAllIdeasAdmin">
        <div class="row">
            <div class="col-12">
                <div class="titleAdminAllIdeas">
                    <h3>Administrar todas las ideas </h3>
                    <hr>
                </div>
            </div>
            <div class="col-12 containerCardsAdminAllIdeas">
                <div class="row">
                    <div class="card-columns">
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod molestiae recusandae, quae iure repudiandae nam facilis a expedita atque nihil tempora reprehenderit nulla ad fuga sapiente illum saepe quia officia praesentium. Cum voluptatibus suscipit odit quibusdam dolore! Labore, ex.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod molestiae recusandae, quae iure repudiandae nam facilis a expedita atque nihil tempora reprehenderit nulla ad fuga sapiente illum saepe quia officia praesentium. Cum voluptatibus suscipit odit quibusdam dolore! Labore, ex.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod molestiae recusandae, quae iure repudiandae nam facilis a expedita atque nihil tempora reprehenderit nulla ad fuga sapiente illum saepe.
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas"  data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit blanditiis ducimus aliquam, ratione iste officia.</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempora ipsam tempore fugit, repudiandae quidem modi a dolore ipsa quisquam?</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque magnam soluta eum, cupiditate deleniti facere possimus sed?</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae magni atque libero laudantium sunt nam minus assumenda recusandae in nemo soluta, deleniti ea.</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                        <li class="list-group-item ideaAdmin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod molestiae recusandae, quae iure repudiandae nam facilis a expedita atque nihil tempora reprehenderit nulla ad fuga sapiente illum saepe quia officia praesentium. Cum voluptatibus suscipit odit quibusdam dolore! Labore, ex.</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit blanditiis ducimus aliquam, ratione iste officia.</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" card">
                            <div class="card-title">
                                <img [src]="'assets/img/users/ideas-avatar-hombre-moreno.svg'" alt="" class="imgUserAdminIdeas">
                                <div class="contentNameDateIdeasAdmin">
                                    <span>Harol Conde</span>
                                    <span>20/05/2019</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item titleIdeasAdmin">Porta ac consectetur ac</li>
                                    <li class="list-group-item ideaAdmin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempora ipsam tempore fugit, repudiandae quidem modi a dolore ipsa quisquam?</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6 btnEditFinish">
                                        <button class="btn btFinalizarIdeas" data-toggle="modal" data-target=".exampleModalCenter">Administrar</button>
                                    </div>
                                    <div class="col-6 btnUploading">
                                        <button class="btn btnUploadImgAdminIdeas" data-toggle="tooltip" data-placement="bottom" title="Subir imagen" data-toggle="modal" data-target=".exampleModalCenter2">
                                            <i class="fas fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example" class="navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <img [src]="'assets/img/icons/dashboard/arrowPagination.svg'" class="arrowPagination arrowPrevius" alt="">
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <img [src]="'assets/img/icons/dashboard/arrowPagination.svg'" class="arrowPagination arrowNext" alt="">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionModalAdminIdeas">
    <!-- Modal -->
    <div class="modal-dialog modal-dialog-centered modal-lg fade" id="exampleModalCenter" class="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Administrar esta idea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="">
                        - Selecciona una opcion. 
                    </span>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Finalizar idea
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Inhabilitar idea
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                            Matar idea
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Subir imagen -->
    <div class="modal-dialog modal-dialog-centered modal-lg fade" id="exampleModalCenter2" class="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Subir una imagen para esta idea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="">
                        - Selecciona una imagen de tu equipo. 
                    </span>
                    <div class="imgUpload">
                        <div class="containerImgUpload" id="containerImgUpload">
                            <img id="upload" [src]="imgIdeasSrc"  alt="">
                        </div>
                        <div class="containerBtnUpload">
                            <input type="file"  id="imgUpload" class="inputUpload"  accept="image/*" (change)="selectImg($event.target.files);">
                            <label for="imgUpload">
                                    <!-- <button class="btn btn-secondary btn-lg btnUpload">
                                        <span>Subir archivo</span>
                                    </button> -->
                                <span class="btn btn-secondary btn-lg btnUpload">Subir archivo</span>
                            </label> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</section>
